.select2-container--default .select2-selection--single {
  border: 0px;
  border-bottom: 1px solid #000;
  border-radius: 0rem !important;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__placeholder {
  color: #000;
}

.select2-container--default
  .select2-selection--single
  .select2-selection__arrow
  b {
  display: none !important;
}

.select2-container--default .select2-selection--multiple {
  border: 0px !important;
  border-bottom: 1px solid #000 !important;
  border-radius: 0rem !important;
}

.select2-dropdown {
  width: 200px !important;
}

.input_control {
  border: 0px !important;
  border-bottom: 1px solid #000 !important;
  border-radius: 0rem !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.row {
  margin-top: -12px;
}

.action-btns {
  padding-top: 0px !important;
}
