@charset "UTF-8";
/* payment Application css */
/*-------------------------*/
.payment-view-wrapper hr {
  border-style: dashed;
}
/*  changes vandana                      */
.label_title {
  font-weight: 500;
}

/*-------------------------*/

.payment-view-wrapper .payment-info .payment-from,
.payment-view-wrapper .payment-info .payment-to {
  margin-bottom: 0.8rem;
}

.payment-view-wrapper .payment-product-details .table th {
  font-weight: 500;
}

.payment-view-wrapper .payment-product-details .table th,
.payment-view-wrapper .payment-product-details .table td {
  padding: 0.75rem 2rem;
}

.payment-view-wrapper .payment-subtotal .payment-calc {
  margin: 0.2rem 0;
}

.payment-view-wrapper .payment-subtotal .payment-calc .payment-title {
  width: 171px;
}

.payment-view-wrapper .payment-subtotal .payment-calc .payment-value {
  color: #304156;
  margin-bottom: 0;
}

.payment-view-wrapper .payment-action-wrapper {
  background-color: #fafbfb;
}

.payment-view-wrapper .payment-action-wrapper .payment-action-btn {
  margin-bottom: 1.2rem;
}

.payment-view-wrapper
  .payment-action-wrapper
  .payment-action-btn
  .payment-send-btn {
  box-shadow: 0 2px 4px 0 rgba(90, 141, 238, 0.6);
}
.payment-filter-action
{
padding-top:40px;
}
.payment-list-wrapper .dataTables_wrapper .top {
  
  background-color: #ffffff;
  border-top-left-radius: 0.267rem;
  border-top-right-radius: 0.267rem;
}

.payment-list-wrapper
  .dataTables_wrapper
  .top
  .action-filters
  .dataTables_filter {
  padding: 0 15px;
}

.payment-list-wrapper
  .dataTables_wrapper
  .top
  .action-filters
  .dataTables_filter
  label {
  width: 100%;
  margin-bottom: 0;
  position: relative;
  font-family: boxicons !important;
  line-height: 1;
  font-size: 1rem;
}

.payment-list-wrapper
  .dataTables_wrapper
  .top
  .action-filters
  .dataTables_filter
  label::after {
  position: absolute;
  content: "î­”";
  left: 20px;
  top: 12px;
}

.payment-list-wrapper
  .dataTables_wrapper
  .top
  .action-filters
  .dataTables_filter
  label
  input {
  width: 99%;
  height: 38px;
  font-family: "IBM Plex Sans", Helvetica, Arial, serif;
  padding-left: 2rem;
  font-size: 1rem;
}

.payment-list-wrapper
  .dataTables_wrapper
  .top
  .action-filters
  .dataTables_filter
  label
  input::-moz-placeholder {
  font-family: "IBM Plex Sans", Helvetica, Arial, serif;
  color: #828d99;
  font-size: 1rem;
}

.payment-list-wrapper
  .dataTables_wrapper
  .top
  .action-filters
  .dataTables_filter
  label
  input:-ms-input-placeholder {
  font-family: "IBM Plex Sans", Helvetica, Arial, serif;
  color: #828d99;
  font-size: 1rem;
}

.payment-list-wrapper
  .dataTables_wrapper
  .top
  .action-filters
  .dataTables_filter
  label
  input::placeholder {
  font-family: "IBM Plex Sans", Helvetica, Arial, serif;
  color: #828d99;
  font-size: 1rem;
}

.payment-list-wrapper .dataTables_wrapper .top .action-btns button {
  padding: 0.367rem 1.5rem;
}

.payment-list-wrapper .dataTables_wrapper .payment-data-table {
  background-color: #ffffff;
  
  border-top: none;
  border-bottom-left-radius: 0.267rem;
  border-bottom-right-radius: 0.267rem;
  border-collapse: separate !important;
  border-spacing: 0;
}

.payment-list-wrapper .dataTables_wrapper .payment-data-table thead th {
  font-weight: normal;
  font-size: 0.99rem;
}

.payment-list-wrapper
  .dataTables_wrapper
  .payment-data-table
  thead
  th:last-child::after,
.payment-list-wrapper
  .dataTables_wrapper
  .payment-data-table
  thead
  th:last-child::before {
  display: none;
}

.payment-list-wrapper .dataTables_wrapper .payment-data-table tr:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
}

.payment-list-wrapper
  .dataTables_wrapper
  .payment-data-table
  tr
  th:nth-child(2),
.payment-list-wrapper
  .dataTables_wrapper
  .payment-data-table
  tr
  td:nth-child(2) {
  padding-left: 10px;
}

.payment-list-wrapper
  .dataTables_wrapper
  .payment-data-table
  tr
  .payment-action
  a {
  color: #fff;
}

.payment-list-wrapper .dataTables_wrapper .payment-data-table tr td {
  white-space: nowrap;
}

.payment-list-wrapper
  .dataTables_wrapper
  .payment-data-table
  .dt-checkboxes-cell {
  width: 1px !important;
  padding: 0 20px 3px 19px;
}

.payment-list-wrapper
  .dataTables_wrapper
  .payment-data-table
  .dt-checkboxes-cell::after,
.payment-list-wrapper
  .dataTables_wrapper
  .payment-data-table
  .dt-checkboxes-cell::before {
  display: none;
}

.payment-list-wrapper
  .dataTables_wrapper
  .payment-data-table
  .dt-checkboxes-cell
  input {
  width: 0;
  position: relative;
}

.payment-list-wrapper
  .dataTables_wrapper
  .payment-data-table
  .dt-checkboxes-cell
  input::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #dfe3e7;
}

.payment-list-wrapper
  .dataTables_wrapper
  .payment-data-table
  .dt-checkboxes-cell
  input::after {
  content: "";
  height: 20px;
  width: 20px;
  border: 1px solid #dfe3e7;
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  transition: 100ms ease-in-out;
}

.payment-list-wrapper
  .dataTables_wrapper
  .payment-data-table
  .dt-checkboxes-cell
  input:checked::after {
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
  height: 0.4rem;
  width: 0.8rem;
  border-color: #5a8dee;
  border-radius: 0;
  border-width: 2px;
  top: 6px;
  left: 4px;
}

.payment-list-wrapper
  .dataTables_wrapper
  .payment-data-table
  .dt-checkboxes-cell
  input:checked::before {
  box-shadow: 0 0 6px 0 rgba(22, 22, 22, 0.2);
}

.payment-list-wrapper
  .dataTables_wrapper
  .payment-data-table
  tbody
  .selected-row-bg {
  background-color: #e7edf3;
}

.payment-list-wrapper .dataTables_wrapper .payment-data-table tbody .bullet-sm {
  margin-right: 0.2rem;
}

.payment-list-wrapper
  table.dataTable.dtr-column
  > tbody
  > tr
  > td.control:before,
.payment-list-wrapper
  table.dataTable.dtr-column
  > tbody
  > tr
  > th.control:before {
  line-height: 18px;
}

.payment-edit-wrapper hr {
  border-style: dashed;
}

.payment-edit-wrapper .payment-info .payment-to {
  margin-bottom: 0.8rem;
}

.payment-edit-wrapper .payment-date-picker .pickadate {
  max-width: 130px;
}

.payment-edit-wrapper .payment-item-title {
  color: #475f7b;
  font-weight: 500;
}

.payment-edit-wrapper .payment-icon .dropdown .dropdown-toggle::after {
  display: none;
}

.payment-edit-wrapper .payment-icon .dropdown .dropdown-menu {
  width: 20rem;
}

.payment-edit-wrapper .payment-icon .dropdown .dropdown-menu::before {
  display: none;
}

.payment-edit-wrapper .payment-repeat-btn {
  font-size: 1rem;
  font-weight: 500;
}

.payment-edit-wrapper .payment-subtotal-value {
  color: #304156;
}

.payment-edit-wrapper .payment-subtotal-title {
  color: #727e8c;
}

.payment-edit-wrapper .subtotal-preview-btn {
  box-shadow: 0 2px 4px 0 rgba(90, 141, 238, 0.4);
}

.payment-edit-wrapper .payment-action-wrapper {
  background-color: #fafbfb;
}

.payment-edit-wrapper
  .payment-action-wrapper
  .payment-action-btn
  .payment-send-btn {
  box-shadow: 0 2px 4px 0 rgba(90, 141, 238, 0.6);
}

.payment-edit-wrapper .payment-terms .payment-terms-title {
  font-family: "Rubik", Helvetica, Arial, serif;
  color: #475f7b;
}

@media screen and (max-width: 1290px) {
  .payment-subtotal {
    width: 100% !important;
  }

  .payment-subtotal .payment-title {
    width: auto !important;
  }
}
@media screen and (max-width: 596px) {
  .action-btns {
    margin-bottom: 1rem;
    padding-left: 23px;
  }
}
@media screen and (max-width: 767px) {
  .payment-payment {
    border: 1px solid #dfe3e7;
    border-radius: 0.267rem;
    padding: 1rem;
  }
}
@media print {
  /* Hide a Unnecessary div while print payment*/
  html,
  body {
    visibility: hidden;
  }

  .payment-print-area {
    visibility: visible;
    page-break-after: auto;
  }

  .payment-print-area .divider {
    margin: 0.5rem 0 !important;
  }

  body.dark-layout .card {
    box-shadow: none !important;
  }

  .payment-action-wrapper,
  .sidenav-main,
  .navbar,
  .btn-customizer,
  .theme-cutomizer,
  .btn-buy-now,
  .page-footer {
    display: none;
  }

  .horizontal-menu.navbar-sticky .content > .content-wrapper {
    margin-top: 0 !important;
  }

  html body.navbar-sticky .app-content .content-wrapper,
  body.vertical-layout.vertical-menu-modern.menu-collapsed .app-content {
    margin: 0;
    padding: 0;
  }

  .main-menu {
    display: none;
  }

  /* card shadow remove while printing payment*/
  .card {
    box-shadow: none;
  }

  /* table border added while printing payment*/
  table th,
  table td {
    border: 1px solid #dfe3e7;
  }

  /* column size change*/
  .payment-subtotal .row .col {
    width: 50% !important;
  }

  .payment-date-number .col,
  .payment-logo-title .col,
  .payment-info .col {
    width: 50% !important;
  }
}
@page {
  size: auto;
  /* auto is the initial value */
  margin: 0;
  padding: 0;
  /* this affects the margin in the printer settings */
}
.datatable_btn
{
  border: 1px solid #d0c7c7;
    color: #0c0b0b;
}

