@charset "UTF-8";
/* leave Application css */
/*-------------------------*/
.leave-view-wrapper hr {
  border-style: dashed;
}
/*  changes vandana                      */
.label_title {
  font-weight: 500;
}

/*-------------------------*/

.leave-view-wrapper .leave-info .leave-from,
.leave-view-wrapper .leave-info .leave-to {
  margin-bottom: 0.8rem;
}

.leave-view-wrapper .leave-product-details .table th {
  font-weight: 500;
}

.leave-view-wrapper .leave-product-details .table th,
.leave-view-wrapper .leave-product-details .table td {
  padding: 0.75rem 2rem;
}

.leave-view-wrapper .leave-subtotal .leave-calc {
  margin: 0.2rem 0;
}

.leave-view-wrapper .leave-subtotal .leave-calc .leave-title {
  width: 171px;
}

.leave-view-wrapper .leave-subtotal .leave-calc .leave-value {
  color: #304156;
  margin-bottom: 0;
}

.leave-view-wrapper .leave-action-wrapper {
  background-color: #fafbfb;
}

.leave-view-wrapper .leave-action-wrapper .leave-action-btn {
  margin-bottom: 1.2rem;
}

.leave-view-wrapper .leave-action-wrapper .leave-action-btn .leave-send-btn {
  box-shadow: 0 2px 4px 0 rgba(90, 141, 238, 0.6);
}

.leave-list-wrapper .dataTables_wrapper .top {
  background-color: #ffffff;
  border-top-left-radius: 0.267rem;
  border-top-right-radius: 0.267rem;
}

.leave-list-wrapper
  .dataTables_wrapper
  .top
  .action-filters
  .dataTables_filter {
  padding: 0 15px;
}

.leave-list-wrapper
  .dataTables_wrapper
  .top
  .action-filters
  .dataTables_filter
  label {
  width: 100%;
  margin-bottom: 0;
  position: relative;
  font-family: boxicons !important;
  line-height: 1;
  font-size: 1rem;
}

.leave-list-wrapper
  .dataTables_wrapper
  .top
  .action-filters
  .dataTables_filter
  label::after {
  position: absolute;
  content: "î­”";
  left: 20px;
  top: 12px;
}

.leave-list-wrapper
  .dataTables_wrapper
  .top
  .action-filters
  .dataTables_filter
  label
  input {
  width: 99%;
  height: 38px;
  font-family: "IBM Plex Sans", Helvetica, Arial, serif;
  padding-left: 2rem;
  font-size: 1rem;
}

.leave-list-wrapper
  .dataTables_wrapper
  .top
  .action-filters
  .dataTables_filter
  label
  input::-moz-placeholder {
  font-family: "IBM Plex Sans", Helvetica, Arial, serif;
  color: #828d99;
  font-size: 1rem;
}

.leave-list-wrapper
  .dataTables_wrapper
  .top
  .action-filters
  .dataTables_filter
  label
  input:-ms-input-placeholder {
  font-family: "IBM Plex Sans", Helvetica, Arial, serif;
  color: #828d99;
  font-size: 1rem;
}

.leave-list-wrapper
  .dataTables_wrapper
  .top
  .action-filters
  .dataTables_filter
  label
  input::placeholder {
  font-family: "IBM Plex Sans", Helvetica, Arial, serif;
  color: #828d99;
  font-size: 1rem;
}

.leave-list-wrapper .dataTables_wrapper .top .action-btns button {
  padding: 0.367rem 1.5rem;
}

.leave-list-wrapper .dataTables_wrapper .leave-data-table {
  background-color: #ffffff;

  border-top: none;
  border-bottom-left-radius: 0.267rem;
  border-bottom-right-radius: 0.267rem;
  border-collapse: separate !important;
  border-spacing: 0;
}

.leave-list-wrapper .dataTables_wrapper .leave-data-table thead th {
  font-weight: normal;
  font-size: 0.99rem;
}

.leave-list-wrapper
  .dataTables_wrapper
  .leave-data-table
  thead
  th:last-child::after,
.leave-list-wrapper
  .dataTables_wrapper
  .leave-data-table
  thead
  th:last-child::before {
  display: none;
}

.leave-list-wrapper .dataTables_wrapper .leave-data-table tr:hover {
  box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.12);
}

.leave-list-wrapper .dataTables_wrapper .leave-data-table tr th:nth-child(2),
.leave-list-wrapper .dataTables_wrapper .leave-data-table tr td:nth-child(2) {
  padding-left: 10px;
}

.leave-list-wrapper .dataTables_wrapper .leave-data-table tr .leave-action a {
  color: #b3c0ce;
}

.leave-list-wrapper .dataTables_wrapper .leave-data-table tr td {
  white-space: nowrap;
}

.leave-list-wrapper .dataTables_wrapper .leave-data-table .dt-checkboxes-cell {
  width: 1px !important;
  padding: 0 20px 3px 19px;
}

.leave-list-wrapper
  .dataTables_wrapper
  .leave-data-table
  .dt-checkboxes-cell::after,
.leave-list-wrapper
  .dataTables_wrapper
  .leave-data-table
  .dt-checkboxes-cell::before {
  display: none;
}

.leave-list-wrapper
  .dataTables_wrapper
  .leave-data-table
  .dt-checkboxes-cell
  input {
  width: 0;
  position: relative;
}

.leave-list-wrapper
  .dataTables_wrapper
  .leave-data-table
  .dt-checkboxes-cell
  input::before {
  content: "";
  height: 20px;
  width: 20px;
  position: absolute;
  top: 0;
  left: 0;
  border-radius: 4px;
  background-color: #ffffff;
  border: 1px solid #dfe3e7;
}

.leave-list-wrapper
  .dataTables_wrapper
  .leave-data-table
  .dt-checkboxes-cell
  input::after {
  content: "";
  height: 20px;
  width: 20px;
  border: 1px solid #dfe3e7;
  position: absolute;
  border-radius: 4px;
  top: 0;
  left: 0;
  transition: 100ms ease-in-out;
}

.leave-list-wrapper
  .dataTables_wrapper
  .leave-data-table
  .dt-checkboxes-cell
  input:checked::after {
  border-top-style: none;
  border-right-style: none;
  transform: rotate(-45deg);
  height: 0.4rem;
  width: 0.8rem;
  border-color: #5a8dee;
  border-radius: 0;
  border-width: 2px;
  top: 6px;
  left: 4px;
}

.leave-list-wrapper
  .dataTables_wrapper
  .leave-data-table
  .dt-checkboxes-cell
  input:checked::before {
  box-shadow: 0 0 6px 0 rgba(22, 22, 22, 0.2);
}

.leave-list-wrapper
  .dataTables_wrapper
  .leave-data-table
  tbody
  .selected-row-bg {
  background-color: #e7edf3;
}

.leave-list-wrapper .dataTables_wrapper .leave-data-table tbody .bullet-sm {
  margin-right: 0.2rem;
}

.leave-list-wrapper table.dataTable.dtr-column > tbody > tr > td.control:before,
.leave-list-wrapper
  table.dataTable.dtr-column
  > tbody
  > tr
  > th.control:before {
  line-height: 18px;
}

.leave-edit-wrapper hr {
  border-style: dashed;
}

.leave-edit-wrapper .leave-info .leave-to {
  margin-bottom: 0.8rem;
}

.leave-edit-wrapper .leave-date-picker .pickadate {
  max-width: 130px;
}

.leave-edit-wrapper .leave-item-title {
  color: #475f7b;
  font-weight: 500;
}

.leave-edit-wrapper .leave-icon .dropdown .dropdown-toggle::after {
  display: none;
}

.leave-edit-wrapper .leave-icon .dropdown .dropdown-menu {
  width: 20rem;
}

.leave-edit-wrapper .leave-icon .dropdown .dropdown-menu::before {
  display: none;
}

.leave-edit-wrapper .leave-repeat-btn {
  font-size: 1rem;
  font-weight: 500;
}

.leave-edit-wrapper .leave-subtotal-value {
  color: #304156;
}

.leave-edit-wrapper .leave-subtotal-title {
  color: #727e8c;
}

.leave-edit-wrapper .subtotal-preview-btn {
  box-shadow: 0 2px 4px 0 rgba(90, 141, 238, 0.4);
}

.leave-edit-wrapper .leave-action-wrapper {
  background-color: #fafbfb;
}

.leave-edit-wrapper .leave-action-wrapper .leave-action-btn .leave-send-btn {
  box-shadow: 0 2px 4px 0 rgba(90, 141, 238, 0.6);
}

.leave-edit-wrapper .leave-terms .leave-terms-title {
  font-family: "Rubik", Helvetica, Arial, serif;
  color: #475f7b;
}

@media screen and (max-width: 1290px) {
  .leave-subtotal {
    width: 100% !important;
  }

  .leave-subtotal .leave-title {
    width: auto !important;
  }
}
@media screen and (max-width: 596px) {
  .action-btns {
    margin-bottom: 1rem;
    padding-left: 23px;
  }
}
@media screen and (max-width: 767px) {
  .leave-payment {
    border: 1px solid #dfe3e7;
    border-radius: 0.267rem;
    padding: 1rem;
  }
}
@media print {
  /* Hide a Unnecessary div while print leave*/
  html,
  body {
    visibility: hidden;
  }

  .leave-print-area {
    visibility: visible;
    page-break-after: auto;
  }

  .leave-print-area .divider {
    margin: 0.5rem 0 !important;
  }

  body.dark-layout .card {
    box-shadow: none !important;
  }

  .leave-action-wrapper,
  .sidenav-main,
  .navbar,
  .btn-customizer,
  .theme-cutomizer,
  .btn-buy-now,
  .page-footer {
    display: none;
  }

  .horizontal-menu.navbar-sticky .content > .content-wrapper {
    margin-top: 0 !important;
  }

  html body.navbar-sticky .app-content .content-wrapper,
  body.vertical-layout.vertical-menu-modern.menu-collapsed .app-content {
    margin: 0;
    padding: 0;
  }

  .main-menu {
    display: none;
  }

  /* card shadow remove while printing leave*/
  .card {
    box-shadow: none;
  }

  /* table border added while printing leave*/
  table th,
  table td {
    border: 1px solid #dfe3e7;
  }

  /* column size change*/
  .leave-subtotal .row .col {
    width: 50% !important;
  }

  .leave-date-number .col,
  .leave-logo-title .col,
  .leave-info .col {
    width: 50% !important;
  }
}
@page {
  size: auto;
  /* auto is the initial value */
  margin: 0;
  padding: 0;
  /* this affects the margin in the printer settings */
}
.btn-sm,
.btn-group-sm > .btn {
  padding: 0.7rem 1.2rem;
  font-size: 0.8rem;
  line-height: 1.4;
  border-radius: 0.267rem;
}

.datatable_btn {
  border: 1px solid #d0c7c7;
  color: #0c0b0b;
}
/*Leave modal Box start*/
.LeaveTopClosedBox {
  border-bottom: 0px;
  padding: 8px 10px 0px;
}
.LeaveTopClose {
  right: 10;
  position: absolute;
  top: 10;
  z-index: 1;
}
.LeaveTopBox h4 {
  font-size: 20px;
  text-align: center;
  /* margin-top: 10px; */
  font-weight: 500;
  color: #394c62;
}
.TotalStaffLeaveBoxMain {
  margin-top: 20px !important;
  margin-bottom: 10px;
  margin-left: 10px;
}
.TotalStaffLeaveBox {
  background-color: #f2f4f4;
  padding: 10px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 30px;
}
.TotalStaffLeaveBox img {
  float: left;
  margin-right: 10px;
}
.TotalStaffLeaveContent h4 {
  font-size: 14px;
  font-weight: 400;
  color: #252525;
  margin-bottom: 0px;
}
.TotalStaffLeaveContent h3 {
  font-size: 20px;
  font-weight: 600;
  color: #222428;
  margin-bottom: 0px;
  margin-top: 2px;
}
.AvailableLeavesBox {
  background-color: #f2f4f4;
  padding: 10px;
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
  margin-right: 30px;
}
.AvailableLeavesBox img {
  float: left;
  margin-right: 10px;
}
.AvailableLeavesContent h4 {
  font-size: 14px;
  font-weight: 400;
  color: #252525;
  margin-bottom: 0px;
}
.AvailableLeavesContent h3 {
  font-size: 20px;
  font-weight: 600;
  color: #222428;
  margin-bottom: 0px;
  margin-top: 2px;
}
/*Leave modal Box closed*/
