[data-tooltip] {
  position: relative;
  cursor: pointer;
  color: white;
  font-size: 12px;
  border-radius: 1em;
  padding: 0 0.5em;
}

[data-tooltip]:before {
  content: attr(data-tooltip);
  position: absolute;
  opacity: 0;
  width: 125px;
  transform: translateX(-20%);
  bottom: 25px;
  padding: 0.4em;
  background-color: rgb(0, 0, 0);
  border-radius: 0.25em;
  color: white;
  text-align: center;
  transition: 0.2s;
}

[data-tooltip]:after {
  content: "";
  position: absolute;
  opacity: 0;
  bottom: 15px;
  margin-left: -12px;
  border: 5px solid black;
  border-color: black transparent transparent transparent;
  transition: 0.2s;
}

[data-tooltip]:hover:before,
[data-tooltip]:hover:after {
  opacity: 0.8;
  z-index: 9999;
}
